/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Typography/Fonts
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Typography/fonts
----------------------------------------- */
@import 'shared';

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@circleSizeNormal: 120px;
@circleSizeHover: 140px;
@navHeight: @circleSizeHover + 30;
@circleOffsetTop: 0px;
@circleOffsetLeft: 50px;

body {
	// .gradient(#EEE, #EFEFEF, #E6E6E6);
	background: lighten(@memuBabyBlue, 5);
}
.banner {
	margin-top:50px;
}
header {
	h1 {
		font: 12em SnigletRegular;
		text-align: right;
		color: @memuGreen;
		text-shadow: 1px 1px 1px darken(@memuGreen, 50);

		span {
			color: @memuPink;
		}
	}
	p {
		font-family: 'Architects Daughter', sans-serif;
		font-size: 3em;
		width:80%;
		float:right;
		margin-top:-30px;
		text-align: right;
	}

	img {
		position: absolute;
		display: block;
		width:25%;
		top: -30px;
		left: -7.5%;
		z-index: -1;
	}
	&::after{ content: "."; display: block; height: 0; font-size:0; clear: both; visibility:hidden; }

	position: relative;
	margin-bottom: 50px;
}
nav {
	height: @navHeight;
	ul li {
		position: relative;
		height: @circleSizeHover;
	}
	ul li a {
		position:absolute;
		top:@circleOffsetTop;
		left:@circleOffsetLeft;
		width: @circleSizeNormal;
		height: @circleSizeNormal;
		border-radius:@circleSizeHover / 1.5;
		font-size: 110%;
		
		&:hover {
			// background: darken(@memuGreen, 0);			
			width:@circleSizeHover;
			height: @circleSizeHover;
			top:@circleOffsetTop - (@circleSizeHover - @circleSizeNormal) / 2;
			left:@circleOffsetLeft - (@circleSizeHover - @circleSizeNormal) / 2;
			
			.rotate(360deg);
		}

		span {
			display:block;
			padding: @circleSizeNormal / 2 - 15 0;
		}
	}
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


