/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Typography/Fonts
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Typography/fonts
----------------------------------------- */
@import 'shared';
@import 'detail';

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.banner {
	margin-top:50px;
}

.product-container {
	.faded-panel;
	height: 300px;
	margin-bottom: 50px;
	color: @memuGray;
	p {
		margin-top: 20px;
		font-size: 1.75em;
		font-family: 'DKHarimauRegular', sans-serif;
		text-align: center;
	}
	&:hover {
		background-color: rgba(255, 255, 255, 0.75);
		.panel-shadow(0, 2px, 10px, rgba(0, 0, 0, 0.5));
	}
}
#watch-video-link {
	display: block;
	width: 266px;
	height: 66px;
	margin: 10px auto;
	margin-bottom: 50px;
	background: url('../images/watch_btn_unpressed.png') no-repeat;
	border: 0;
	font-family: 'Claire Hand';
	font-weight: bold;
	text-align: center;
	padding: 18px;
	color: white;
	font-size: 1.2em;

	&:hover {
		padding-top: 25px;
		background: url('../images/watch_btn_pressed.png') no-repeat;
	}
}

.tabs-container {
	dl.tabs.contained {
		background-color: none;
		dd {
			a {
				// height: 50px;
				font-size: 1.25em;
				font-weight: bold;
			}
		}
	}

	ul.tabs-content.contained {
		background-color: white;

		
	}

	p, #acknowledgementsTab li {
		font-size: 1.25em;
		font-weight: normal;
		letter-spacing: 1px;
		color: black;

		a {
			font-weight: bold;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	#acknowledgementsTab {
		ul li {
			list-style-type: dot;
			list-style-position: outside;
		}
	}
}

#video-modal.reveal-modal {
	position: fixed;
	@width: 65%;
	width: @width;
	margin-left: -@width / 2;
	z-index: 999991;
}
