@import 'shared'; 

@fixedBarHeight: 90px;
@fixedBarPadding: 10px;

body {
	background:lighten(@memuGreen, 28);
}

.fixed-bar {
	position: fixed;
	background: @memuBabyBlue;
	z-index:6;
	top:0;
	width:100%;
	height:@fixedBarHeight;
	padding:@fixedBarPadding;
	box-shadow:0 -2px 7px rgba(0,0,0,40);

	.header-container {
		margin: 0 auto;
		width:800px;
	}
	header {
		float:left;
		margin-left:8%;
		width:30%;
		margin:0;
		&>.row {
			min-width:800px;
		}
		h1 {
			font-family: SnigletRegular;
			font-size: 6em;
			text-align: left;
			.transition;
			a {z-index:2;}
			a:link, a:hover, a:visited {
				color: @memuGreen;
			}
			&:hover {
				.rotate;
			}
		}
		img.logo {
			top:0;
			left:-58px;
			z-index:-1;
			width:74px;
		}

	}
	nav {
		float:left;
		width:40%;
		margin-left:80px;

		ul li {
			display: inline-block;

			@circleSizeNormal: 80px;
			a {
				display:block;
				width: @circleSizeNormal;
				height: @circleSizeNormal - 30;
				padding-top:30px;
				border-radius:@circleSizeNormal / 1.5;
				font-size:0.65em;

			}
		}		
	}
}

.container {
	margin-top: @fixedBarHeight + 3 * @fixedBarPadding;
}