@import 'shared';

body {
	background: lighten(@emotionaryGreen, 5) url('../images/emotionary/cross_line_texture_tile.png') repeat;
}
#smiley {
	width: 85px;
	position: absolute;
	top: -5px;
	left: -145px;
	z-index:-1;
}
#memu-text {
	.memu-text;
	font-size: 5em;
	margin: 20px 0 0 -80px;
}

#introduces-text {
	font-family: 'Claire Hand';
	font-weight: bold;
	font-size: 2.2em;
	padding-left: 50px;
	margin: -15px 0 50px 0;
}

#coming-soon-text {
	font-family: 'Claire Hand';
	font-size: 3em;
	text-align: center;
	font-weight: lighter;
}